body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    color: #f4b9c3;
}
main {
    background-color: #f4b9c3;
    font-family: 'Times New Roman', Times, serif;
    color: bisque;
}
footer {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    color: #f4b9c3;
}